.my-colors {
  background-color: #bed0ab;
  background-color: #988445;
  background-color: #c3935d;
  background-color: #354a3f;
  background-color: #f6f6f1;
}

.green-palete {
  background-color: #faf9f8;
  background-color: #dedccb;
  background-color: #cdd6ac;
  background-color: #abb5aa;
  background-color: #8fc23c;
}
